.service
  h2.visually-hidden Дополнительные услуги
  .row.row--nm
    .service__hall.column.column--nm-6.bg-dark.column--m-po-12
      .service__container.service__container--left
        p.service__text.t-white
          span.t-uppercase.t-fs-14.t-light.t-mb-32 Посетите наш
          span.t-uppercase.t-fs-24.t-light.fs-m-lo-18 Демонстрационный зал

        p.service__text.t-white
          span Для гостей городов Кавказких Минеральных Вод мы организуем
          span.t-uppercase Бесплатный трансфер

        button.service__btn.btn.btn--white.t-light(type="button") Подробнее

    .column.column--nm-6.bg-grey.column--m-po-12
      .service__container.service__container--right
        .service__icon
          +picture-png-webp("icon-heart", 34, 33, "Клиентский сервис")
        p.service__text
          span.t-uppercase.t-fs-24.fs-m-lo-18 Клиентский сервис

        p.service__text
          span <span class="t-uppercase">ГАРАНТИЯ ОБСЛУЖИВАНИЯ</span>  товара  1 год!
          span Обязательная примерка перед покупкой и подгон шубы под размер,
          span если она не подошла вам.
