section.advantages
  .container
    h2.visually-hidden Наши преимущества
    ul.advantages__list.row
      li.advantages__item.column.column--2-4.column--m-po-12
        .advantages__icon
          +picture-png-webp("icon-loupe", 57, 64, "Любая модель на заказ")
        h3.advantages__title Если товара нет в наличии?
        p.advantages__text Любую модель из каталога вы сможете пошить на заказ по указанной стоимости.

      li.advantages__item.column.column--2-4.column--m-po-12
        .advantages__icon
          +picture-png-webp("icon-quality", 46, 41, "Качественный мех")
        h3.advantages__title Качественный мех
        p.advantages__text Мы покупаем шкуры на мировых аукционах. Используем только качественную фурнитуру.

      li.advantages__item.column.column--2-4.column--m-po-12
        .advantages__icon
          +picture-png-webp("icon-discounts", 51, 60, "Гибкие скидки")
        h3.advantages__title Гибкие скидки
        p.advantages__text Мы продаем в кредит и рассрочку. Предоставляем скидки постоянным покупателям.

      li.advantages__item.column.column--2-4.column--m-po-12
        .advantages__icon
          +picture-png-webp("icon-guarantee", 37, 47, "Гарантия")
        h3.advantages__title Гарантия
        p.advantages__text Обслуживаем вашу шубу 1 год! Бесплатно меняем фурнитуру и ремонтируем.

      li.advantages__item.column.column--2-4.column--m-po-12
        .advantages__icon
          +picture-png-webp("icon-chipping", 55, 52, "Чипирование!")
        h3.advantages__title Чипирование!
        p.advantages__text Все наши изделия соответсвуют действующему закону и имеют чип.
