section.about-us
  .about-us__header.section-header
    .container
      h2.about-us__title.section-header__title.section-header__title--white О фабрике
  .container
    .about-us__content.row
      .about-us__img.column.column--6.column--m-po-12
        +picture-jpg-webp("about-us-img", 536, 356, "Меховая фабрика эдита")
      .about-us__description.column.column--6.column--m-po-12
        p.about-us__text.about-us__text--bold Пятигорская меховая фабрика Эдита с 2001 года занимается производством элитной женской и мужской одежды из меха и кожи. Фабрика Эдита известна качеством своих шуб, меховых и кожаных изделий.
        p.about-us__text Сырье закупается на всемирных аукционах и проходит переработку на лучших предприятиях Италии, Америки и России.
        a.about-us__btn.btn.btn--dark(href="#") Читать большк о фабрике
