footer.footer
  .footer__content
    .container
      .row
        .column.column--3.column--m-lo-4.column--m-po-12
          a.footer__logo.logo(href="main.html")
            +picture-png-webp("logo", 159, 35, "Эдита")
            span Меховая фабрика

        .column.column--9.column--m-lo-8.column--m-po-12
          .footer__nav
            ul.footer__nav-list
              li.footer__nav-item
                a.footer__nav-link(href="#") О фабрике
              li.footer__nav-item
                a.footer__nav-link(href="#") Статьи
              li.footer__nav-item
                a.footer__nav-link(href="#") Вопрос-ответ
              li.footer__nav-item
                a.footer__nav-link(href="#") Отзывы
              li.footer__nav-item
                a.footer__nav-link(href="#") Контакты
              li.footer__nav-item
                a.footer__nav-link(href="#") Пошив на заказ
              li.footer__nav-item
                a.footer__nav-link.footer__nav-link--red(href="#") Скидки
      .row
        .column.column--3.column--t-12
          .footer__phones
            .footer__icon
              +picture-png-webp("icon-phone", 19, 19)
            a.footer__phone(href="tel:+79283471718") +7 928 347 17 18
            a.footer__phone(href="tel:+79624425595") +7 962 442-55-95
            a.footer__phone(href="tel:+78793396539") +7 8793 39-65-39

          .footer__address
            .footer__icon
              +picture-png-webp("icon-location", 15, 19)
            span г. Пятигорск, ул. Краснослободская д. 13
        .column.column--2.column--t-3.column--m-po-6
          a.footer__title(href="#") Шубы
          ul.footer__menu
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы из норки
            li.footer__menu-item
              a.footer__menu-link(href="#") Цветные шубы
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы из мутона
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы из чернобурки
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы из астрагана
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы из соболя
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы из песца
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы из нутрии
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы из каракуля
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы комбинированные
        .column.column--2.column--t-3.column--m-po-6
          a.footer__title(href="#") Дубленки
          ul.footer__menu
            li.footer__menu-item
              a.footer__menu-link(href="#") Из норки
            li.footer__menu-item
              a.footer__menu-link(href="#") Цветные
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы из мутона
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы из чернобурки
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы из астрагана
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы из соболя
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы из песца
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы из нутрии
        .column.column--2.column--t-3.column--m-po-6
          a.footer__title(href="#") Меховые жилеты
          ul.footer__menu
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы из норки
            li.footer__menu-item
              a.footer__menu-link(href="#") Цветные шубы
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы из мутона
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы из чернобурки
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы из астрагана
        .column.column--2.column--t-3.column--m-po-6
          a.footer__title(href="#") Изделия из кожи
          ul.footer__menu
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы из норки
            li.footer__menu-item
              a.footer__menu-link(href="#") Цветные шубы
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы из мутона
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы из чернобурки
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы из астрагана
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы из соболя
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы из песца
            li.footer__menu-item
              a.footer__menu-link(href="#") Шубы из нутрии

  .footer__map
    +picture-png-webp("map", 1600, 147, "Карта проезда")
    a.footer__map-link(href="#") Карта проезда
  .footer__bottom
    .container
      .row
        .column.column--3.column--m-po-12
          p.footer__copyright © Меховая фабрика «Эдита», 2018
        .column.column--6.column--m-po-12
          .footer__privaty-policy
            a.footer__link(href="#") Пользовательское соглашение
            a.footer__link(href="#") Политика конфиденциальности
        .column.column--3.column--m-po-12
          .footer__developer Сделано <a href="https://webelement.ru/" target="_blank">WEBELEMENT</a>







